.wp-block-buttons {
	.wp-block-button {
		.wp-block-button__link {
			padding: .75rem 2rem !important;

			&:hover {
				background-color: $red;
			}
		}
	}
}

.has-background-dim {
	.wp-block-buttons {
		.wp-block-button {
			.wp-block-button__link {
				&:hover {
					background-color: $light;
					color: $dark;
				}
			}
		}
	}
}