// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$red: #a0000a;
$linkred: #E82828;
$darkgrey: #202020;
$darkest: #0e0e0e;
$white: #fff;

$primary: $red;
$secondary: $darkgrey;

$link-color: $linkred;


$font-family-base: "Droid Sans", Arial, sans-serif;
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.15 !default;

$nav-link-font-size: 15px;
$nav-link-padding-x: 3rem;

// $h1-font-size:
$h2-font-size: 1.75rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.15rem;

$headings-font-weight: 300;
$body-font-weight: 300;